main{
  min-height: 80vh;
}
.card:hover{
  background-color: #f5fcc2;
  transform: scale(1.05);
  transition-property: all;
  transition: 0.5s;
  box-shadow: 5px 10px 8px #888888;
}
.brandName{
  text-decoration: none;
}

.xyz{
    justify-content : flex-end;
}

.product-rating{
  margin : 20px 0;
}